[Unit]
Description=Power profiles monitor

[Service]
ExecStart=/usr/local/share/power-profiles-monitor/bin/power-profiles-monitor
Restart=on-failure

[Install]
WantedBy=default.target
